In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sbn
import os

In [5]:
credits = pd.read_csv('tmdb_5000_credits.csv')
movies = pd.read_csv('tmdb_5000_movies.csv')

In [6]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [7]:
credits.head(2)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [8]:
movies = movies.merge(credits, on='title')

In [9]:
movies.sample(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
3131,0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 53, ""nam...",NaN,17622,"[{""id"": 14552, ""name"": ""ira""}, {""id"": 176516, ...",en,Fifty Dead Men Walking,Based on Martin McGartland's real life story a...,4.481897,"[{""name"": ""T\u00e9l\u00e9film Canada"", ""id"": 8...",...,117.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,NaN,Fifty Dead Men Walking,6.1,35,17622,"[{""cast_id"": 3, ""character"": ""Fergus"", ""credit...","[{""credit_id"": ""52fe47389251416c75091d51"", ""de..."
700,61000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 35, ""nam...",http://www.2guns.net/,136400,"[{""id"": 1568, ""name"": ""undercover""}, {""id"": 46...",en,2 Guns,A DEA agent and an undercover Naval Intelligen...,42.881415,"[{""name"": ""Universal Studios"", ""id"": 13}, {""na...",...,109.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}, ...",Released,"2 Guns, 1 Bank.",2 Guns,6.6,1589,136400,"[{""cast_id"": 10, ""character"": ""Robert 'Bobby' ...","[{""credit_id"": ""52fe4c15c3a368484e1a6189"", ""de..."

In [10]:
movies = movies[['id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew']]

In [11]:
movies.sample(5)

,id,title,overview,genres,keywords,cast,crew
1195,50348,The Lincoln Lawyer,A lawyer conducts business from the back of hi...,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 18, ""name...","[{""id"": 934, ""name"": ""judge""}, {""id"": 5638, ""n...","[{""cast_id"": 2, ""character"": ""Mickey Haller"", ...","[{""credit_id"": ""52fe47c4c3a36847f81471bb"", ""de..."
3961,38541,The Divide,Survivors of a nuclear attack are grouped toge...,"[{""id"": 878, ""name"": ""Science Fiction""}]","[{""id"": 9866, ""name"": ""basement""}, {""id"": 1481...","[{""cast_id"": 9, ""character"": ""Eva"", ""credit_id...","[{""credit_id"": ""52fe46c49251416c9105f0e3"", ""de..."
4096,33667,Gentleman's Agreement,A magazine writer poses as a Jew to expose ant...,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...","[{""id"": 10144, ""name"": ""anti semitism""}, {""id""...","[{""cast_id"": 1, ""character"": ""Philip Schuyler ...","[{""credit_id"": ""52fe452d9251416c9102a049"", ""de..."
412,9341,The Core,Geophysicist Dr. Josh Keyes discovers that an ...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 53, ""nam...","[{""id"": 5178, ""name"": ""magnetic field""}, {""id""...","[{""cast_id"": 1, ""character"": ""Dr. Josh Keyes"",...","[{""credit_id"": ""54b64442c3a36837ca001428"", ""de..."
4793,86304,All Superheroes Must Die,"Masked vigilantes Charge (Jason Trost), Cutthr...","[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...","[{""id"": 9715, ""name"": ""superhero""}]","[{""cast_id"": 1, ""character"": ""Charge / John"", ...","[{""credit_id"": ""52fe497f9251416c910af3d1"", ""de..."

In [13]:
import pandas as pd
import ast

def extract_names(obj):
    try:
        return [i['name'] for i in ast.literal_eval(obj)]
    except:
        return []

def extract_top_cast(obj):
    try:
        return [i['name'] for i in ast.literal_eval(obj)[:3]]
    except:
        return []

def extract_director(obj):
    try:
        for i in ast.literal_eval(obj):
            if i['job'] == 'Director':
                return [i['name']] 
        return []
    except:
        return []

movies['genres'] = movies['genres'].apply(extract_names)
movies['keywords'] = movies['keywords'].apply(extract_names)
movies['cast'] = movies['cast'].apply(extract_top_cast)
movies['crew'] = movies['crew'].apply(extract_director)

movies['tags'] = movies['overview'].fillna('') + ' ' + movies['genres'].apply(lambda x: ' '.join(x)) + ' ' + \
                 movies['keywords'].apply(lambda x: ' '.join(x)) + ' ' + \
                 movies['cast'].apply(lambda x: ' '.join(x)) + ' ' + \
                 movies['crew'].apply(lambda x: ' '.join(x))

In [14]:
movies.sample(5)

,id,title,overview,genres,keywords,cast,crew,tags
533,9297,Monster House,"Monsters under the bed are scary enough, but w...","[Animation, Comedy, Family, Fantasy]","[monster, secret, toy, children, neighbor, mis...","[Ryan Newman, Steve Buscemi, Mitchel Musso]",[Gil Kenan],"Monsters under the bed are scary enough, but w..."
4501,3080,Top Hat,Showman Jerry Travers is working for producer ...,"[Comedy, Music, Romance]","[venice, dance, musical, tap dancing, stage sh...","[Fred Astaire, Ginger Rogers, Edward Everett H...",[Mark Sandrich],Showman Jerry Travers is working for producer ...
1407,423,The Pianist,The Pianist is a film adapted from the biograp...,"[Drama, War]","[individual, resistance, radio station, war cr...","[Adrien Brody, Thomas Kretschmann, Frank Finlay]",[Roman Polanski],The Pianist is a film adapted from the biograp...
4586,64499,Quinceañera,"As Magdalena's 15th birthday approaches, her s...",[Drama],[],"[Emily Rios, Jesse Garcia, Chalo González]",[Richard Glatzer],"As Magdalena's 15th birthday approaches, her s..."
3383,71859,We Need to Talk About Kevin,The mother of a teenage sociopath who went on ...,"[Drama, Thriller]","[suburb, violence, killing spree, prison visit...","[John C. Reilly, Tilda Swinton, Ezra Miller]",[Lynne Ramsay],The mother of a teenage sociopath who went on ...

In [19]:
movies = movies.drop(columns=['tags'])

In [23]:
movies.sample(3)

,id,title,overview,genres,keywords,cast,crew
3458,10160,A Nightmare on Elm Street 5: The Dream Child,"Alice, having survived the previous installmen...","[Horror, Thriller]","[nun, baby, monster, asylum, nightmare, supern...","[Robert Englund, Lisa Wilcox, Erika Anderson]",[Stephen Hopkins]
3549,13173,The Ten,"Ten stories, each inspired by one of the ten c...",[Comedy],"[independent film, ventriloquist dummy, multip...","[Paul Rudd, Adam Brody, Jon Hamm]",[David Wain]
3131,17622,Fifty Dead Men Walking,Based on Martin McGartland's real life story a...,"[Action, Thriller]","[ira, slot machine, riot police, woman director]","[Ben Kingsley, Jim Sturgess, Kevin Zegers]",[Kari Skogland]

In [24]:
movies.isnull().sum()

id          0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [25]:
movies.dropna(inplace = True)

In [26]:
movies.shape

(4806, 7)

In [27]:
movies['overview'] = movies['overview'].apply(lambda x: x.split('|'))

In [28]:
movies.sample(5)

,id,title,overview,genres,keywords,cast,crew
1666,102362,Dead Man Down,"[In New York City, a crime lord's right-hand m...","[Thriller, Action, Crime, Drama]","[revenge, new york city, mysterious woman, cri...","[Colin Farrell, Noomi Rapace, Terrence Howard]",[Niels Arden Oplev]
4292,46256,The Lion of Judah,[Upon learning that Judah has been trapped in ...,"[Adventure, Animation, Comedy, Family]","[palm sunday, jerusalem judah, bethlehem judah]","[Georgina Cordova, Ernest Borgnine, Michael Ma...",[Deryck Broom]
3856,224569,Taxman,[After a homocide that the police believe is o...,"[Action, Crime, Comedy, Thriller]","[machinegun, tax inspector, wedding party]","[Joe Pantoliano, Wade Dominguez, Elizabeth Ber...",[Avi Nesher]
392,59961,Safe House,[A dangerous CIA renegade resurfaces after a d...,"[Action, Thriller]","[cia, violence, safe house, rogue agent, cape ...","[Denzel Washington, Ryan Reynolds, Vera Farmiga]",[Daniel Espinosa]
1018,1636,Bedazzled,"[Elliot Richardson, suicidal techno geek, is g...","[Fantasy, Comedy, Romance]","[love of one's life, mephisto, wish, sale of s...","[Elizabeth Hurley, Brendan Fraser, Frances O'C...",[Harold Ramis]

In [29]:
#sun Honglei -> sunhonglei
#sexual fantasy -> sexualfantasy
def remove_spaces(text_list):
    l = []
    for i in text_list:
        l.append(i.replace(" ",""))
    return l

In [30]:
movies['cast'] = movies['cast'].apply(remove_spaces)
movies['crew'] = movies['crew'].apply(remove_spaces)
movies['keywords'] = movies['keywords'].apply(remove_spaces)
movies['genres'] = movies['genres'].apply(remove_spaces)

In [31]:
movies.head(2)

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In the 22nd century, a paraplegic Marine is d...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain Barbossa, long believed to be dead, h...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]

In [32]:
movies['tags']=movies['overview']+movies['genres']+movies['keywords']+movies['cast']+movies['crew']

In [33]:
movies.head()

,id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In the 22nd century, a paraplegic Marine is d...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In the 22nd century, a paraplegic Marine is d..."
1,285,Pirates of the Caribbean: At World's End,"[Captain Barbossa, long believed to be dead, h...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain Barbossa, long believed to be dead, h..."
2,206647,Spectre,[A cryptic message from Bond’s past sends him ...,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],[A cryptic message from Bond’s past sends him ...
3,49026,The Dark Knight Rises,[Following the death of District Attorney Harv...,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],[Following the death of District Attorney Harv...
4,49529,John Carter,"[John Carter is a war-weary, former military c...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John Carter is a war-weary, former military c..."

In [34]:
movies.iloc[0]['tags']

['In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.',
 'Action',
 'Adventure',
 'Fantasy',
 'ScienceFiction',
 'cultureclash',
 'future',
 'spacewar',
 'spacecolony',
 'society',
 'spacetravel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alienplanet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'loveaffair',
 'antiwar',
 'powerrelations',
 'mindandsoul',
 '3d',
 'SamWorthington',
 'ZoeSaldana',
 'SigourneyWeaver',
 'JamesCameron']

In [35]:
df = movies[['id','title','tags']]

In [36]:
df.sample(5)

,id,title,tags
3737,47452,Love and Death on Long Island,[Giles De'Ath is a widower who doesn't like an...
4537,30246,Civil Brand,[Forced to work under slave-like conditions in...
2403,31932,City of Ghosts,[A con man (Dillon) travels to Cambodia (also ...
4728,18925,Facing the Giants,[A losing coach with an underdog football team...
1972,10358,Zack and Miri Make a Porno,[Lifelong platonic friends Zack and Miri look ...

In [37]:
df['tags'] = df['tags'].apply(lambda x: " ".join(x))

/var/folders/5r/svqhb71956990v7rdb94sdmh0000gn/T/ipykernel_18435/949442192.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags'] = df['tags'].apply(lambda x: " ".join(x))

In [38]:
df.sample(5)

,id,title,tags
3761,47816,3 Strikes,Brian Hooks plays a character who is just rele...
3149,10306,Poltergeist III,Carol Anne has been sent to live with her Aunt...
488,9992,Arthur and the Invisibles,Arthur is a spirited ten-year old whose parent...
1707,26320,Taking Woodstock,"The story of Elliot Tiber and his family, who ..."
4795,39851,Clean,"After losing her husband to a heroin overdose,..."

In [39]:
df['tags'] = df['tags'].apply(lambda x:x.lower())

/var/folders/5r/svqhb71956990v7rdb94sdmh0000gn/T/ipykernel_18435/841579467.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags'] = df['tags'].apply(lambda x:x.lower())

In [40]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 5000,stop_words = 'english')

In [41]:
vectors = cv.fit_transform(df['tags']).toarray()

In [45]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [63]:
vectors.shape

(4806, 5000)

In [65]:
pip install nltk

Requirement already satisfied: nltk in /Applications/anaconda3/lib/python3.12/site-packages (3.9.1)
Requirement already satisfied: click in /Applications/anaconda3/lib/python3.12/site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in /Applications/anaconda3/lib/python3.12/site-packages (from nltk) (1.1.1)
Requirement already satisfied: regex>=2021.8.3 in /Applications/anaconda3/lib/python3.12/site-packages (from nltk) (2024.9.11)
Requirement already satisfied: tqdm in /Applications/anaconda3/lib/python3.12/site-packages (from nltk) (4.66.5)
Note: you may need to restart the kernel to use updated packages.

In [68]:
import nltk

In [70]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [71]:
def stem(text):
    y=[ ]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [72]:
df['tags'] = df['tags'].apply(stem)

/var/folders/5r/svqhb71956990v7rdb94sdmh0000gn/T/ipykernel_18435/866399325.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags'] = df['tags'].apply(stem)

In [73]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [74]:
from sklearn.metrics.pairwise import cosine_similarity

In [76]:
similarity = cosine_similarity(vectors)

In [77]:
similarity.shape

(4806, 4806)

In [78]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(539, 0.26089696604360174),
 (1192, 0.2581988897471611),
 (507, 0.25302403842552984),
 (260, 0.25110592822973776),
 (1214, 0.24944382578492943)]

In [82]:
def recommend(movie):
    if movie.lower() not in df['title'].str.lower().values:
        return f"Movie '{movie}' not found in dataset."

    movie_index = df[df['title'].str.lower() == movie.lower()].index[0]
    distance = similarity[movie_index]
    movie_list = sorted(list(enumerate(distance)), reverse=True, key=lambda x: x[1])[1:6]

    for i in movie_list:
        print(df.iloc[i[0]]['title'])

In [92]:
recommend('Batman Begins')

The Dark Knight
The Dark Knight Rises
Batman
Batman & Robin
Batman

In [ ]:
import pickle
pickle.dump(df,open('movie_list.pkl' , 'wb'))
pickle.dump(similarity,open('similarity.pkl' , 'wb'))